# App
NODE_ENV=development

# API
HOST=0.0.0.0
PORT=3000
DATABASE_URL=file:./dev.db
STORAGE_ROOT=./.data

# Auth
AUTH_TOKEN_SECRET=perler-dev-secret
ALLOW_DEMO_LOGIN=false

# Miniapp
MINIAPP_API_BASE_URL=http://183.66.27.19:27099
